.hero__banner-sec{
  padding:3rem 2rem 1rem 5rem;
  color:white;
  margin-top:4rem;
  background: linear-gradient(90deg, rgba(34, 142, 188,1.0) 1.53%, rgba(49, 168, 214,1.0) 48.34%, rgba(19, 154, 159, 1.0) 101.83%);
}

.hero__banner-outer{
  display:flex;
}

.hero__banner-left{
  width:50%;
} 

.hero__banner-left h1{
    font-size:53px;
    color:white !important;
}

.hero__banner-left p{
  font-size:1rem;
}

.hero__banner-right img{
  width:90%;
  padding:1.5rem 0 0 1rem;
}

.hero__banner-form{
  position:relative;
}

.hero__banner-form input[type=submit]:hover{
  background-color:#228EBC;
  color:#fff;
  font-weight:600;
}

.hero__banner-form input[type=submit]{
  position:absolute;
  top:0;
  left:8.5rem;
  font-weight:600;
  color:#228EBC;
  padding:12.3px 20px 17px;
  font-size:16px;
  background-color:#fff;
  border:none;
  border-radius:8px;
}

.hero__banner-form form input[type=email]{
  width:50% !important;
  padding:12px 13px;
  border-radius:8px;
  border:1px solid #fff;
  color:#fff;
  background-color:transparent;
}

@media (max-width:1024px) and  (min-width:770px){
.hero__banner-form form input[type=email] {
      width:48% !important;
  }
  .hero__banner-form input[type=submit]{
    left:6rem;
  }
    .hero__banner-left p{
        font-size:15px;
}
  .hero__banner-sec{
    padding:2rem 2rem 1rem 3rem;
  }
}
@media (max-width:380px) {
  .hero__banner-form input[type=submit]{
    margin-right:5.5rem !important;
    }
}
@media (max-width:330px) {
  .hero__banner-form input[type=submit]{
    margin-right:3.5rem !important;
    }
}
@media (max-width:426px){
  .hero__banner-form input[type=submit]{
    position:static;
    margin-right:7.5rem;
    }
  .hero__banner-left h1{
      font-size:36px !important;
  }
  .hero__banner-sec{
    padding:2rem 0rem 0rem 2rem;
  }
  .hero__banner-left p{
    font-size:15px !important;
}
  #mobile__size-banner-form form input[type=email]{
      width:100% !important;
      padding:10px;
  }
  .hero__banner-right img{
  width:100%;
    margin-top:3rem;
  padding:0rem !important;
}
}




@media (max-width:770px){
.hero__banner-outer{
  flex-direction: column;
  align-items:center;
}
  .hero__banner-left{
    width:100%;
}
  .hero__banner-left p{
    font-size:20px;
}
  .hero__banner-left h1{
  font-size:48px;
  }
  .hero__banner-right img{
  width:100%;
  padding:0.5rem 0 0 2rem;
}
  .hero__banner-sec{
    padding:2rem 2rem 0 2rem;
  
  }
  .hero__banner-form input[type=submit]{
  left:22.5rem;
}

.hero__banner-form form input[type=email]{
  width:80% !important;

}
}

