<div class="new">
  
<div class="hero__banner-sec">
    <div class="hero__banner-outer">
        <div class="hero__banner-left">
           {% if module.banner_section.show_text_section %}
          <h1>
            {{ module.banner_section.banner_text_section_.banner_heading }}
          </h1>
          <div class="hero__banner-lefttxt">
            <p>
              {{ module.banner_section.banner_text_section_.banner_para }}
            </p>
          </div>
          {% endif %}
          <div class="hero__banner-form" id="mobile__size-banner-form">
          {% form
              form_to_use="{{ module.banner_section.email_form.form_id }}"
              response_response_type="{{ module.banner_section.email_form.response_type }}"
              response_message="{{ module.banner_section.email_form.message }}"
              response_redirect_id="{{ module.banner_section.email_form.redirect_id }}"
              response_redirect_url="{{module.banner_section.email_form.redirect_url}}"
              gotowebinar_webinar_key="{{ module.banner_section.email_form.gotowebinar_webinar_key }}"
          %}
          </div>
        </div>
        <div class="hero__banner-right">
           	<img src="{{ module.banner_section.hero_image.src }}" alt="{{ module.banner_section.hero_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      </div>
    </div>
</div>
</div>
