.header__text{
  text-align:center;
  padding:3rem 4rem 1rem 4rem;
}
.header__text-para p{
  font-size:24px;
  margin-bottom:1rem;
}
.header__text-title span{
  color:#228EBC;
}
.header__text-sampleheading h4{
  color:#12AFB8;
  font-weight:600;
  font-size:24px;
}


@media (max-width:770px){
  .header__text{
  text-align:center;
  padding:3rem 2rem 1rem 2rem;
}
.header__text-title h2{
    font-size:38px;
  }
  .header__text-para p,
  .header__text-sampleheading h4{
      font-size:0.9rem !important;
 
  }

  }
  
@media (max-width:426px){
  .header__text{
  padding:1rem 0.5rem;
}
  .header__text-title h2{
  font-size:34px;
  }
  .header__text-para p{
  font-size:15px !important;
    
  }
}
