<div class="header__text">
  <div class="header__text-title">
    <h2>
      {{ module.header_text_section.header_text_title }} <span>{{ module.header_text_section.zigzag_text }}</span>
    </h2>
  </div>
  <div class="header__text-para">
    <p>
      {{ module.header_text_section.header_text_para }}
    </p>
  </div>
  <div class="header__text-sampleheading">
    <h4>
      {{ module.header_text_section.header_text_sample_heading }}
    </h4>
  </div>
  
</div>