.slider__text-container {
  padding-bottom:5rem;
  position:relative;
  background: linear-gradient(90deg, rgba(34, 142, 188, 1.0) 1.53%, rgba(49, 168, 214, 1.0) 48.34%, rgba(19, 154, 159, 1.0) 101.83%)
}

.slider__container-heading h2 {
  color: #fff !important;
}

.silder__container-cardimage {
  display: flex;
  justify-content: center;
}

.silder__container-cardimage img {
  border: 2pxs solid !important;
  width: 70%
}

.slider__container-text {
  text-align: center;
  color: #fff;
  padding: 2rem 3rem;
}

.slider__container-para p {
  padding: 0 5.5rem;
}



li {
  list-style: none;
}


.silder__card-container {
  display: flex;
  justify-content: center;
}

.silder__main-container {
  width: 70%;
}

.slider__features-list-icon img {
  height: 1rem;
  width: 1rem;
  margin-top: 5px;
}

.slick-prev:before {
  margin-left: -1rem !important;
}

.slick-next:before,
.slick-prev:before {
  font-size: 40px !important;
}

.slider__container-card-heading h3 {
  text-align: center;
}

.slider__container-card {
  background: linear-gradient(180deg, #FAFDFE 0%, #FFFFFF 42.5%, #DEFEFF 99.99%);
  border-radius: 10px;
  padding: 20px 20px 0 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 150px;
}

.slider__features-list li {
  display: flex;
  gap: 0.5rem;
}

.slider__feature h5 {
  font-weight: 600;
  font-size: 20px;
}

.bottom-shap{
    position: absolute;
    bottom: -6rem;
    left:0;
    z-index: 1;
    width: 100%;
    height: 180px;
    background-color: #fff;
    transform: skewY(-3deg);
}

@media (max-width:770px){
  .slider__features-list{
    padding:0.5rem;
  }
  .slider__container-heading h2{
  font-size:36px;
  }
  .slider__container-para p{
  font-size:19px !important;
    padding:0 !important;
  }
  .silder__main-container{
  width:87%;
  }
  .slider__container-card{
      padding:15px 0 0 0;

  }
}

@media (max-width:426px){
  .slider__features-list{
    padding:0.5rem;
  }
  
  
  .slider__container-heading h2{
  font-size:33px;
  }
  .slider__container-para p{
  font-size:16px !important;
    padding:0 !important;
  }
  .silder__main-container{
    width:75%;
  }
  .slider__container-card{
      padding:15px 0 0 0 !important;
    margin-left: 10px;
  margin-right: 10px;

  }
  .slider__container-text {
  padding: 2rem 1rem;
}
  .slider__feature h5 {
  font-weight: 600;
  font-size: 16px;
    padding:0rem !important;
}
  

}