<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="slider__text-container">
  <div class="slider__container-text">
  <div class="slider__container-heading">
    <h2>
      {{ module.slider_heading_section.slider_heading_ }}
    </h2>
  </div>
  <div class="slider__container-para">
    <p>
      {{ module.slider_heading_section.slider_para }}    </p>
  </div>
   </div>
  <div class="silder__card-container">
  <div class="silder__main-container">
    {% for item in module.slider_section %}
   <div class="slider__container-card" id="slick-slide">
    <div class="slider__container-card-heading">
      <h3>
        {{ item.slider_heading }}
      </h3>
    </div>
    <div class="silder__container-cardimage">
		<img src="{{ item.slider_image.src }}" alt="{{ item.slider_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
    </div>
    <div>
      <ul class="slider__features-list">
        {% for item2 in item.slider_features_list %}
        <li>
          <div class="slider__features-list-icon">
             <img src="{{ item2.slider_features_cross_image.src }}" alt="{{ item2.slider_features_cross_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          </div>
          <div class="slider__feature">
             <h5>
               {{ item2.slider_list_items }}
            </h5>
          </div>
        </li>
        	{% endfor %}
      </ul>
    </div>
    </div>
    {% endfor %}
  </div>
    </div>
    <div class="bottom-shap"></div>
    
</div>
{% require_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
$('.silder__main-container').slick({
  dots: false,
  infinite: false,
  speed: 1000,
  slidesToShow: 2,
  slidesToScroll: 2,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
  </script>
{% end_require_js %}
