.header-btn{
    box-shadow: 0px 1px 1px rgb(166 152 152 / 25%);
    border-radius: 8px;
    letter-spacing: 1px;
    color: #FFFFFF;
    font-weight: 600;
    margin-left:1rem;
    font-size: 18px;

}

.header-btn:hover{
background-color:#12AFB8 !important;
  color:#fff !important;
  
}
.button-wrapper{
  display:flex;
  justify-content:center;
}