.zigzag__container{
  display:flex;
  padding:0rem 4rem 0 4rem;
}

.zigzag_container-heading h5{
  background-color:#ebf0f5;
  border-radius:6px;
  display:inline-block;
  padding:5px 10px;
}

.zigzag_container-heading h5,
.zigzag_container-heading h3{
  margin:0 0 0.5rem 0rem;
}

.zigzag_container-heading h5{
  color:#228EBc;
  font-weight:600;
}

.zigzag_container-heading{
  padding-top:4rem;
}

.zigzag__container-text{
  width:60%;
  display:felx;
  flex-direction:columns;
}

.zigzag__container-img img{
    width:85%;
}

.zigzag__container:nth-child(even){
  flex-direction:row-reverse;
  gap:4rem;
}


@media (max-width:426px){
  .zigzag__container{
  display:flex;
  padding:0rem 1rem !important;
}
.zigzag__container-img img{
    width:100%;
}
  
  .zigzag_container-heading h5,
  .zigzag__container-para p{
  font-size:18px !important;
  }
.zigzag_container-heading h3{
  font-size:24px !important;
}
}

@media (max-width:770px){
  .zigzag__container{
    flex-direction:column;
    justify-content:center;
  }
  
  .zigzag__container:nth-child(even){
    flex-direction:column;
    justify-content:center;
    gap:1rem;
  }
  
  .zigzag__container-img img,.zigzag__container-text{
      width:100%;
  }
  
  .zigzag__container{
    padding:0 2rem;
  }
  
  .zigzag_container-heading{
    padding-top:0.5rem;
  }
  .zigzag__container-text{
      padding:0 1rem 1rem;
  }
  
  .zigzag_container-heading h5,
  .zigzag__container-para p{
  font-size:20px;
  }
.zigzag_container-heading h3{
  font-size:28px;
}

  
}
  
