<div>
{% for item in module.siemaba_zigzag_section %}
<div class="zigzag__container">
  {% if item.show_zigzag_image %}
  <div class="zigzag__container-img">
		<img src="{{ item.zigzag_image.src }}" alt="{{ item.zigzag_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
  </div>
  {% endif %}
  <div class="zigzag__container-text">
    <div class="zigzag_container-heading">
    {% if item.show_zigzag_sample_heading %}
     <h5>
      {{ item.zigzag_simple_heading }}
    </h5>
    {% endif %}
    {% if item.show_zigzag_heading %}
    <h3>
      {{ item.zigzag_heading }}
    </h3>
    {% endif %}
    </div>
  <div class="zigzag__container-para">
    {% if item.show_zigzag_para %}
    <p>
      {{ item.zigzag_para }}
    </p>
    {% endif %}
  </div>
  </div>
</div>
{% endfor %}
</div>
