.footer__container{
margin-top:250px;
padding-left:3rem !important;
padding-right:3.4rem !important;

}
.footer-menu ul,
.footer__top-container ul,
.footer__tnp-container ul,
.footer__bottom-container,
.footer-contact ul,
.footer__socialmedia-container{
 display:flex;
}

.footer-contact ul{
    gap:0.3rem;
    font-size:18px;
}
.footer-menu ul{
gap:1rem;
}
.footer__tnp-container ul{
gap:1rem;
font-size:18px;
}
.footer__top-container{
  justify-content:space-between;
}
.footer-menu ul li a{
  font-size:18px !important;
  color:rgba(0, 0, 0, 0.6);
  font-weight:550 !important;
  text-transform:uppercase
}

.footer-menu ul li a:hover,
a.tnp-name:hover,
.footer__top-container ul li a:hover{
color:#12AFB8 !important;
} 

.footer-ul ul li a svg {
    width: 35px;
    height: 35px;
    padding:0.4rem;
    fill:#228EBC;
}
.footer-socialmedia ul li{
  background-color: #F6F9FC;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.footer-ul ul,
.footer-menu ul{
  padding:0 7px 0 7px!important;
}
.footer-socialmedia ul li:hover{
  background-color:#12AFB8;
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
}
.footer-ul ul li a svg:hover{
  fill:#fff;
}
a.tnp-name{
color:rgba(0, 0, 0, 0.6) !important;
}

.footer__top-container{
    margin: 0 0 15px;
    border-bottom: 1px solid #DADADA;
}
.footer_logo img{
width:160px !important;
}
.footer-contact ul li span svg{
  width:15px;
  fill:#228EBC;
}
.footer-contact ul li span{
color:#228EBC;
}

@media (max-width:770px){
  .footer__top-container,
  .footer__bottom-container{
    flex-direction:column;
  }

}
@media (max-width:380px){
 .footer-menu{
  margin-top:3rem;
  }
}
@media (max-width:320px){
 .footer-menu ul{
  padding-top:3rem !important;
  }
}
@media (max-width:426px){
  .footer-menu ul,
  .footer-contact ul,
  .footer__tnp-container ul,
  .footer__bottom-container{
  flex-direction:column;
  }
  .footer__container{
  padding:2rem 0.5rem 0 0.5rem !important;
  }
  .footer-contact ul,
  .footer__tnp-container ul{
    margin:0;
  padding:0.5rem
  }
  
/*   #footer-menu-mobile{
  padding-top:0rem !important;
  }
   */
  .footer-menu ul{
  gap:0.5rem;
  }
  .footer__tnp-container ul{
  font-size:16px;
  }
}
@media (max-width:1024px) and  (min-width:685px){
  .footer-menu ul{
  padding-top:1rem !important;
  }
  .footer__bottom-container{
    flex-direction:column;
  
  }
    .footer-contact ul,
  .footer__tnp-container ul{
    margin:0;
  padding:0.5rem
  }
}