<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="clinetslider__show">  
<div class="client__slidercontainer">
  <div class="client_heading">
    <h2>
     {{ module.client_slider_heading }}
    </h2>
  </div>
  <div class="show__slider">
  {% for item in module.client_silder_section %}
  <div class="client__slidermain-container">
    <div class="outer_slider-circle">    
    <div class="client__sliderimage">
       <img class="client-img" src="{{ item.client_image.src }}" alt="{{ item.client_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}> 
    </div>
    </div>

    <div class="client__sliderpara">
      <p>
        {{ item.client_slider_para }}
      </p>
    <div class="clientname__container">
      <span class="client-name">{{ item.clients_name }}</span>
      <span>{{ item.client_position_name }}</span>
    </div>
    </div>
    </div>
  {% endfor %}
    </div>
</div>
</div>
{% require_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
$('.show__slider').slick({
  autoplay: true,
  dots: false,
  autoplaySpeed: 2000,
  slidesToShow: 1,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
});
 </script>



{% end_require_js %}

