.clinetslider__show{
    background:linear-gradient(90deg, rgba(34, 142, 188,1.0) 1.53%, rgba(49, 168, 214,1.0) 48.34%, rgba(19, 154, 159, 1.0) 101.83%);
}

.client__slidercontainer{
  margin-top:3rem;
  margin: 3rem 3rem 0 3rem;
}
.client_heading h2{
  color:#fff;
  text-align:center;
  padding:1rem 0;
}
.show__slider{
position:relative;
}
.show__slider .slick-next:before,
.show__slider .slick-prev:before{
  position:relative;
  top:-2rem;
  left:0;
  right:0;
  opacity:1 !important;
}

.client__slidermain-container{
  display:flex !important;
  justify-content:center;
  gap:0rem;
  margin-bottom:2rem;
}


.clientname__container{
  display:flex;
  flex-direction:column;
  font-size:18px;
  gap:0.2rem;
}
.client-name{
font-weight:600;
  padding-top:10px;
}
.client__sliderpara{
  width:78%;
  color:#fff;
  padding:0 40px;
}
.client__sliderpara p{
  font-size:20px;
  line-height:1.6;

}

.client__sliderimage{
height:185px;
  position:relative;
  width:185px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: conic-gradient( 
      #212020 3.6deg, white 0deg);
}

.client-img{
position:relative;
 height:180px;
  width:180px;
  border-radius:50%;
}

@media (max-width:330px){
  .client__sliderimage img{
height:150px;
  width:150px;
    margin-left:10rem !important;
  border-radius:50%;
}
}
@media (max-width:426px){
  .client_heading h2{
  font-size:28px;
  }
  .client__slidermain-container{
  flex-direction:column;
  }
  .client__sliderpara{
  width:100%;
  padding:0 10px;

  }
  .client__sliderpara p{
  font-size:16px !important;
    padding:0.5rem !important;
  }
  
  .client__sliderimage img{
height:150px;
  width:150px;
    margin-left:15rem;
  border-radius:50%;
}
}