<div class="form_header-container">
  <div class="form-header-wrapper">
    <div class="form_header">
      <h2>
        {{ module.form_section.form_heading_ }}
      </h2>
    </div>
     <div class="form_header-text">
        <p>
          {{ module.form_section.form_para }}
        </p>
    </div>
  </div>
   <div class="form_maincontainer">
    <div class="form_mainwrapper">
      {% form
          form_to_use="{{ module.form_section.form_filed.form_id }}"
          response_response_type="{{ module.form_section.form_filed.response_type }}"
          response_message="{{ module.form_section.form_filed.message }}"
          response_redirect_id="{{ module.form_section.form_filed.redirect_id }}"
          response_redirect_url="{{module.form_section.form_filed.redirect_url}}"
          gotowebinar_webinar_key="{{ module.form_section.form_filed.gotowebinar_webinar_key }}"
        %}
    </div>
  </div>
</div>
