.form_header-container{
  height:30rem;
background:linear-gradient(90deg, rgba(34, 142, 188,1.0) 1.53%, rgba(49, 168, 214,1.0) 48.34%, rgba(19, 154, 159, 1.0) 101.83%);
}

.form-header-wrapper{
  text-align:center;
  padding:1.5rem 9rem 1rem 9rem;
} 

.form_header h2{
font-size:2rem !important;
}
.form_header h2,
.form_header-text p{
  color:#fff;
}

.form_header-text p{
   padding:0 3rem;
}


.form_mainwrapper form{
    font-size:16px !important;
    background-color: rgba(255, 255, 255,1.0);
    z-index: 1;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 12%), 0px 1px 3px rgb(0 0 0 / 20%);
    border-radius: 15.4651px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 50px;
}
.form_mainwrapper input,
.form_mainwrapper textarea{
  border-top:none !important;
  border-left:none !important;
  border-right:none !important;
  border-bottom:1px solid #C4C4C4;
  outline:none;
}
.form_mainwrapper input[type=submit]{
  font-weight:600;
  font-size:18px;
  color:#fff;
  padding-bottom:11px;
  background-color:#12AFB8;
  border:1px solid #12AFB8;
  border-radius:8px; 
}

 .form_mainwrapper form input[type=text],
.form_mainwrapper form input[type=email],
.form_mainwrapper form input[type=tel],
.form_mainwrapper textarea{
  border-bottom:1px solid #C4C4C4;
  border-radius:0;
    font-size:20px;
  }
.form_mainwrapper input[type=submit]:hover{
  background-color:#228EBC;
  color:#fff;
  font-weight:600;
}

div.actions{
  width:fit-content;
  margin:auto;
}

@media (max-width:426px){
  .form_header h2{
  font-size:32px !important;
}
  .form-header-wrapper{
  padding:1rem !important;
} 
.form_header-text p{
  padding:0;
  font-size:18.5px;
}
  
.form_mainwrapper form{
    padding: 20px 20px;
    margin:0.5rem !important;

}
   .form_mainwrapper form input[type=text],
.form_mainwrapper form input[type=email],
.form_mainwrapper form input[type=tel],
.form_mainwrapper textarea{
    font-size:16px;
  }
  
}
@media (max-width:770px){
  .form-header-wrapper{
 padding:1.5rem 5rem 1rem 5rem;

  }
  .form_header h2{
font-size:1.5rem !important;
}
.form_header-text p{
  padding:0;
  font-size:18.5px;
}
  .form_mainwrapper form{
  margin:0.5rem 2rem;

  }
  
 
}


