.ourdrive-outer{
  display:grid;
grid-template-columns:50% 50%;
}
.ourdrive__container{
  padding:5rem 4rem 3rem 4rem;

}

.color-span{
color:#228EBC !important;
}
.ourdrive_img-container img{
width:90%;
}

@media (max-width:426px){
  .ourdrive_para-container{
  padding-bottom:3rem;
  }
  .ourdrive_img-container img{
    width:100% !important;
    padding:0.5rem !important;
}
}
@media (max-width:770px){
  .ourdrive-outer{
 display: flex;
    flex-direction: column;
  }
  .ourdrive__container{
  padding:15px 15px;
  }
  .ourdrive_heading-container h2{
  font-size:36px;
  }
  .ourdrive_img-container img{
    width:80%;
    padding:0.5rem 3rem 3rem 3rem;
}
  .ourdrive_para-container p{
  font-size:20px !important;
  }
}
  