<div class="ourdrive__container">
    <div class="ourdrive-outer">
      <div class="ourdrive-row">
        <div class="öurdrive_heading-container">
          <h2>
            {{ module.ourdrive_section.ourdrive_heading }}
            <span class="color-span">{{ module.ourdrive_section.ourdrive_span }}</span>
          </h2>
        </div>
        <div class="ourdrive_para-container">
          <p>
            {{ module.ourdrive_section.ourdrive_para }}
          </p>
        </div>
      </div>
      <div class="ourdrive_img-container">
	        <img src="{{ module.ourdrive_section.ourdrive_image.src }}" alt="{{ module.ourdrive_section.ourdrive_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      </div>
    </div>
</div>
