<div class="step__header-container">
  <div class="step__header-wraper">
    <h3>
      {{ module.step_heading_section.step_heading }}
    </h3>
    <div class="step__headertxt">
      <p>
        {{ module.step_heading_section.step_heading_para }}
      </p>
    </div>
</div>
  <div class="step__heading-form">
    <form>
      {% form
        form_to_use="{{ module.step_heading_section.step_heading_email_.form_id }}"
        response_response_type="{{ module.step_heading_section.step_heading_email_.response_type }}"
        response_message="{{ module.step_heading_section.step_heading_email_.message }}"
        response_redirect_id="{{ module.step_heading_section.step_heading_email_.redirect_id }}"
        response_redirect_url="{{module.step_heading_section.step_heading_email_.redirect_url}}"
        gotowebinar_webinar_key="{{ module.step_heading_section.step_heading_email_.gotowebinar_webinar_key }}"
      %}
    </form>
  </div>
 </div>
