.step__headertxt p{
padding:0px 50px 4px 50px;
}

.step__header-container {
  position:relative;
  z-index:2;
  text-align: center;
  padding: 35px 30px 10px;
  max-width: 80%;
  margin-left: auto;
  margin-top:-170px;
  margin-right: auto;
  border-radius: 16px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 20%);
  background-color: rgba(255, 255, 255, 1.0);
}

.step__heading-form{
  position:relative;
  padding:0 8rem 0 5rem;
}
.step__heading-form input[type=submit]:hover{
  background-color:#228EBC;
  color:#fff;
  font-weight:600;
}

.step__heading-form input[type=submit]{
  position:absolute;
  top:0;
  right:3rem;
  font-weight:600;
  color:#fff;
  padding-bottom:11px;
  background-color:#12AFB8;
  border:1px solid #12AFB8;
  border-radius:8px; 
}

.step__heading-form form input[type=email]{
  border-radius:8px;
  border:1px solid #12AFB8;
}
@media (max-width:770px){
  .step__header-container {
  max-width:90% !important;
    margin-top:-214px;
  }
  .step__heading-form input[type=submit]{
  position:absolute;
    right:0rem;}

}
@media (max-width:380px) {
    .step__heading-form input[type=submit]{
    margin-left:-4.5rem !important;
    padding:0.5rem;
  
  }
}
@media (max-width:330px) {
    .step__heading-form input[type=submit]{
    margin-left:-5.5rem !important;
    padding:0.5rem;
      font-size:12px;
  
  }
}
@media (max-width:426px){
  .step__header-container {
  max-width:90% !important;
    margin-top:-214px;
  }
  .step__heading-form input[type=submit]{
  position:static;
    right:0rem;
    margin-left:-6.5rem;
    padding:0.5rem;
  
  }
  .step__headertxt p{
    padding:0px;
    font-size:14px !important;
  }
  .step__header-wraper h3{
  font-size:30px;
  }
  .step__heading-form form input[type=email]{
  border-radius:8px;
    width:100%;
  border:1px solid #12AFB8;
    margin-bottom:-1rem;
}
  .step__heading-form{
  padding:0;
  }
}
