.awards__container{
  color:#fff;
  margin-bottom:2rem;
  border-radius: 1.5rem;
  width:80%;
  margin-left:6rem;
  margin-right:6rem;
  background:linear-gradient(90deg, rgba(19, 154, 159,1.0) 1.53%, rgba(34, 142, 188,1.0) 101.83%, rgba(44, 161, 206,1.0) 101.84%)
}
.awards__container:hover{
   background:rgba(21, 93, 135,100%)
}
.awards-logo{
padding-bottom:.5rem;
}

.leaf{
  width:30px;
}
.award-image{
  width:60px;
}

.awards__logo-container{
  padding:10px 50px;
  text-align:center;
  margin-bottom:20px;
  margin-left:3rem;
  
}
.awards__outer{
  display:flex;

}

.awards__header h4{
  padding:1.5rem 0 1rem 0;
  text-align:center;
  color:#fff;
  font-weight:600;
}
@media(max-width:426px){
  .awards__outer{
   display:block !important;
  }
  .awards__logo-container{
        padding:10px 40px;
        margin-left:0rem;
}
  .awards__container{
    margin: 0.5rem !important;
  }
    
}
.äwards__columntxt P{ 
    font-size:15px;
    
    }
@media (max-width:770px){
  .äwards__columntxt P{ 
    font-size:15px;
    
    }
  .awards__outer{
  display:grid;
    grid-template-columns:50% 50%;
  }
  .awards__container{
border-radius: 1.5rem;
    margin: 2rem ;
  }
    
    
}