<div class="awards__container">
    <div class="awards__row-container">
      <div class="awards__header">
        <h4>
          {{ module.awards_heading }}
        </h4>
      </div>
      <div class="awards__outer">
       {% for item in module.awards_section %}
      <div class="awards__logo-container">
        <div class="awards-logo">
          <img class="leaf" src="https://21115950.fs1.hubspotusercontent-na1.net/hubfs/21115950/Siemba%20Theme/Images/Leaf%20Left%20n.png">
		        <img class="award-image" src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          <img class="leaf" src="https://21115950.fs1.hubspotusercontent-na1.net/hubfs/21115950/Siemba%20Theme/Images/Leaf%20right%20n.png">
        </div>
        <div class="äwards__columntxt">
          <p>
            {{ item.award_info }}
          </p>
        </div>
      </div>
        {% endfor%}
    </div>
   </div>
</div>